# Lab | Comparing regression models

For this lab, we will be using the same dataset we used in the previous labs. Load the cleaned categorical and numerical dataframes that you saved at the end of Monday's labs.

### Data Analysis Process

**Remember the process:**

* Case Study
* Get data
* Cleaning/Wrangling/EDA
* Processing Data
* Modeling
* Validation
* Reporting

**Instructions:** Concatenate Numerical and Categorical dataframes into one dataframe called data. Split into X=features y=target (total_claim_amount).

1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.
2. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)
3. Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.
4. Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)
5. Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.
6. Try a simple linear regression with all the data to see whether we are getting good results.
7. Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.
8. Use the function to check LinearRegressor and KNeighborsRegressor.
9. You can check also the MLPRegressor for this task!
10. Check and discuss the results.

In [1]:
# basic libraries

import pandas as pd
import numpy as np

In [2]:
# visualization

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [4]:
# For this lab, we will be using the same dataset we used in the previous labs.

In [5]:
pd.set_option('display.max_column',None)

In [6]:
# Load the cleaned categorical and numerical dataframes that you saved at the end of Monday's labs.

customer_cat = pd.read_csv(r'..\lab-cleaning-numerical-data\categorical.csv')
customer_num = pd.read_csv(r'..\lab-cleaning-numerical-data\numerical.csv')

In [7]:
display(customer_cat.shape)
display(customer_cat.head())

(9134, 15)

,customer,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Undergraduate,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Midsize
1,QZ44356,Arizona,No,Extended,Undergraduate,Unemployed,F,Suburban,Single,Personal Auto,3,3,Agent,Four-Door Car,Midsize
2,AI49188,Nevada,No,Premium,Undergraduate,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Midsize
3,WW63253,California,No,Basic,Undergraduate,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Midsize
4,HB64268,Washington,No,Basic,Undergraduate,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Midsize

In [8]:
display(customer_num.shape)
display(customer_num.head())

(9134, 8)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [9]:
# Concatenate Numerical and Categorical dataframes into one dataframe called data.

data = pd.concat([customer_cat,customer_num],axis=1)
data.drop(columns='customer', inplace=True)
data

,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,Washington,No,Basic,Undergraduate,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Midsize,2763.519279,56274,69,32,5,0,1,384.811147
1,Arizona,No,Extended,Undergraduate,Unemployed,F,Suburban,Single,Personal Auto,3,3,Agent,Four-Door Car,Midsize,6979.535903,0,94,13,42,0,8,1131.464935
2,Nevada,No,Premium,Undergraduate,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Midsize,12887.431650,48767,108,18,38,0,2,566.472247
3,California,No,Basic,Undergraduate,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Midsize,7645.861827,0,106,18,65,0,7,529.881344
4,Washington,No,Basic,Undergraduate,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Midsize,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Undergraduate,Employed,M,Urban,Married,Personal Auto,1,2,Web,Four-Door Car,Midsize,23405.987980,71941,73,18,89,0,2,198.234764
9130,California,Yes,Extended,Undergraduate,Employed,F,Suburban,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,Midsize,3096.511217,21604,79,14,28,0,1,379.200000
9131,California,No,Extended,Undergraduate,Unemployed,M,Suburban,Single,Corporate Auto,2,1,Branch,Four-Door Car,Midsize,8163.890428,0,85,9,37,3,2,790.784983
9132,California,No,Extended,Undergraduate,Employed,M,Suburban,Married,Personal Auto,2,3,Branch,Four-Door Car,Large,7524.442436,21941,96,34,3,0,3,691.200000
9133,California,No,Extended,Undergraduate,Unemployed,M,Suburban,Single,Corporate Auto,3,4,Call Center,Two-Door Car,Midsize,2611.836866,0,77,3,90,0,1,369.600000

In [10]:
# Check for types, number of unique values, and null values in all the columns

col_name = []
col_type = []
num_uniq = []
null_num = []
null_prc = []

for colm in data.columns:
    
    col_name.append(colm)
    col_type.append(data[colm].dtype)
    num_uniq.append(len(data[colm].value_counts(dropna=False)))
    null_num.append(data[colm].isna().sum())
    null_prc.append(round((data[colm].isna().sum()/len(data[colm]))*100,2))
    
pd.DataFrame({
    
    'column_name':col_name,
    'column_type':col_type,
    'num_unique_values':num_uniq,
    'num_null_values':null_num,
    'perc_null_values':null_prc

})

,column_name,column_type,num_unique_values,num_null_values,perc_null_values
0,state,object,5,0,0.0
1,response,object,2,0,0.0
2,coverage,object,3,0,0.0
3,education,object,3,0,0.0
4,employment_status,object,3,0,0.0
5,gender,object,2,0,0.0
6,location_code,object,3,0,0.0
7,marital_status,object,3,0,0.0
8,policy_type,object,3,0,0.0
9,policy,int64,3,0,0.0
10,renew_offer_type,int64,4,0,0.0
11,sales_channel,object,4,0,0.0
12,vehicle_class,object,4,0,0.0
13,vehicle_size,object,3,0,0.0
14,customer_lifetime_value,float64,8041,0,0.0
15,income,int64,5694,0,0.0
16,monthly_premium_auto,int64,202,0,0.0
17,months_since_last_claim,int64,36,0,0.0
18,months_since_policy_inception,int64,100,0,0.0
19,number_of_open_complaints,int64,6,0,0.0
20,number_of_policies,int64,9,0,0.0
21,total_claim_amount,float64,5106,0,0.0

In [11]:
# categorical encoding

### Hint for Categorical Variables

You should deal with the categorical variables as shown below (for ordinal encoding, dummy code has been provided as well):

| Encoder Type | Column | Idx |
| -- | -- | -- |
| One hot | state | **01** |
| Ordinal | coverage | **02** |
| Ordinal | employment_status | **03** |
| Ordinal | location_code | **04** |
| One hot | marital_status | **05** |
| One hot | policy_type | **06** |
| One hot | policy | **07** |
| One hot | renew_offercustomer_df | **08** |
| One hot | sales_channel | **09** |
| One hot | vehicle_class | **10** |
| Ordinal | vehicle_size | **11** |
| Ordinal | education | **12** |
| One hot | response | **13** |
| One hot | gender | **14** |

In [12]:
for colm in data.columns:
    
    if len(data[colm].value_counts(dropna=False)) < 10:
        print(data[colm].value_counts(dropna=False),'\n')

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

No     7826
Yes    1308
Name: response, dtype: int64

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

Undergraduate           5429
High School or Below    2622
Postgraduate            1083
Name: education, dtype: int64

Employed      5698
Unemployed    2317
Other         1119
Name: employment_status, dtype: int64

F    4658
M    4476
Name: gender, dtype: int64

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

3    4588
2    2881
1    1665
Name: policy, dtype: int64

1    3752
2    2926
3    1432
4    1024
Name: renew_offer_type, dtype: int64

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Luxury            831
Name: vehicle_class, dtype: int64

Midsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

0    7252
1    1011
2     374
3     292
4     149
5      56
Name: number_of_open_complaints, dtype: int64

1    3251
2    2294
3    1168
7     433
9     416
4     409
5     407
8     384
6     372
Name: number_of_policies, dtype: int64

In [13]:
# Dummy code for ordinal encoding

In [14]:
data['coverage'] = data['coverage'].map({'Basic':0, 'Extended':.5, 'Premium':1})

In [15]:
data['education'] = data['education'].map({'High School or Below':0, 'Undergraduate':.5, 'Postgraduate':1})

In [16]:
data['employment_status'] = data['employment_status'].map({'Employed':0, 'Unemployed':0.5, 'Other':1})

In [17]:
data['location_code'] = data['location_code'].map({'Rural':0, 'Suburban':.5, 'Urban':1})

In [18]:
data['vehicle_size'] = data['vehicle_size'].map({'Small':0, 'Midsize':.5, 'Large':1})

In [19]:
data

,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,Washington,No,0.0,0.5,0.0,F,0.5,Married,Corporate Auto,3,1,Agent,Two-Door Car,0.5,2763.519279,56274,69,32,5,0,1,384.811147
1,Arizona,No,0.5,0.5,0.5,F,0.5,Single,Personal Auto,3,3,Agent,Four-Door Car,0.5,6979.535903,0,94,13,42,0,8,1131.464935
2,Nevada,No,1.0,0.5,0.0,F,0.5,Married,Personal Auto,3,1,Agent,Two-Door Car,0.5,12887.431650,48767,108,18,38,0,2,566.472247
3,California,No,0.0,0.5,0.5,M,0.5,Married,Corporate Auto,2,1,Call Center,SUV,0.5,7645.861827,0,106,18,65,0,7,529.881344
4,Washington,No,0.0,0.5,0.0,M,0.0,Single,Personal Auto,1,1,Agent,Four-Door Car,0.5,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,0.0,0.5,0.0,M,1.0,Married,Personal Auto,1,2,Web,Four-Door Car,0.5,23405.987980,71941,73,18,89,0,2,198.234764
9130,California,Yes,0.5,0.5,0.0,F,0.5,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,0.5,3096.511217,21604,79,14,28,0,1,379.200000
9131,California,No,0.5,0.5,0.5,M,0.5,Single,Corporate Auto,2,1,Branch,Four-Door Car,0.5,8163.890428,0,85,9,37,3,2,790.784983
9132,California,No,0.5,0.5,0.0,M,0.5,Married,Personal Auto,2,3,Branch,Four-Door Car,1.0,7524.442436,21941,96,34,3,0,3,691.200000
9133,California,No,0.5,0.5,0.5,M,0.5,Single,Corporate Auto,3,4,Call Center,Two-Door Car,0.5,2611.836866,0,77,3,90,0,1,369.600000

In [20]:
# Split into X=features y=target (total_claim_amount).

X = data.drop(['total_claim_amount'],axis=1)
y = data['total_claim_amount']

In [21]:
display(X.head())
display(y.head())

,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,Washington,No,0.0,0.5,0.0,F,0.5,Married,Corporate Auto,3,1,Agent,Two-Door Car,0.5,2763.519279,56274,69,32,5,0,1
1,Arizona,No,0.5,0.5,0.5,F,0.5,Single,Personal Auto,3,3,Agent,Four-Door Car,0.5,6979.535903,0,94,13,42,0,8
2,Nevada,No,1.0,0.5,0.0,F,0.5,Married,Personal Auto,3,1,Agent,Two-Door Car,0.5,12887.431650,48767,108,18,38,0,2
3,California,No,0.0,0.5,0.5,M,0.5,Married,Corporate Auto,2,1,Call Center,SUV,0.5,7645.861827,0,106,18,65,0,7
4,Washington,No,0.0,0.5,0.0,M,0.0,Single,Personal Auto,1,1,Agent,Four-Door Car,0.5,2813.692575,43836,73,12,44,0,1

0     384.811147
1    1131.464935
2     566.472247
3     529.881344
4     138.130879
Name: total_claim_amount, dtype: float64

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

print('X_train shape is',X_train.shape,', y_train shape is', y_train.shape)
print('X_test shape is', X_test.shape,', y_test shape is', y_test.shape)

X_train shape is (6850, 21) , y_train shape is (6850,)
X_test shape is (2284, 21) , y_test shape is (2284,)

In [23]:
# OneHotEncode the remaining categorical columns

In [24]:
list(customer_cat.columns)

dummy_cols = ['coverage','education','employment_status','location_code','vehicle_size']

ohe_cols = []

for colm in customer_cat.columns:
    
    if colm not in dummy_cols:
        ohe_cols.append(colm)

ohe_cols.remove('customer')
ohe_cols

['state',
 'response',
 'gender',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class']

In [25]:
X_train_ohe = X_train[ohe_cols]
X_train_ohe

,state,response,gender,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class
8607,California,Yes,M,Married,Corporate Auto,3,2,Agent,Luxury
2121,Oregon,No,F,Single,Special Auto,2,3,Agent,Luxury
5361,California,No,F,Married,Personal Auto,1,2,Branch,Two-Door Car
7003,Oregon,No,M,Married,Corporate Auto,3,3,Web,Four-Door Car
7416,California,Yes,F,Single,Personal Auto,2,1,Branch,Luxury
...,...,...,...,...,...,...,...,...,...
5734,California,No,F,Divorced,Personal Auto,3,3,Agent,Four-Door Car
5191,California,Yes,M,Married,Personal Auto,3,1,Branch,Four-Door Car
5390,California,No,F,Single,Personal Auto,1,1,Call Center,SUV
860,Arizona,Yes,F,Divorced,Personal Auto,3,1,Call Center,SUV
7270,Arizona,No,M,Married,Corporate Auto,2,2,Branch,Four-Door Car

In [26]:
X_test_ohe = X_test[ohe_cols]
X_test_ohe

,state,response,gender,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class
708,California,No,M,Married,Personal Auto,3,2,Agent,SUV
47,Oregon,No,F,Single,Personal Auto,2,4,Agent,Two-Door Car
3995,Oregon,Yes,F,Married,Personal Auto,3,2,Agent,Two-Door Car
1513,California,No,F,Married,Personal Auto,3,1,Branch,Four-Door Car
3686,Washington,No,F,Divorced,Personal Auto,2,1,Branch,Four-Door Car
...,...,...,...,...,...,...,...,...,...
3060,Arizona,No,F,Married,Personal Auto,1,1,Call Center,Four-Door Car
8508,California,Yes,M,Divorced,Corporate Auto,3,2,Web,Four-Door Car
4995,Arizona,No,M,Divorced,Personal Auto,3,2,Agent,Four-Door Car
5677,California,No,M,Married,Personal Auto,1,1,Branch,Four-Door Car
5269,California,Yes,F,Divorced,Personal Auto,3,1,Call Center,Two-Door Car

In [27]:
# OneHotEncode X_train

encoder_train = OneHotEncoder().fit(X_train_ohe)
cols_ohe = encoder_train.get_feature_names_out(input_features = X_train_ohe.columns)
X_train_ohe_encoded = pd.DataFrame(encoder_train.transform(X_train_ohe).toarray(),columns=cols_ohe)

X_train_ohe_encoded

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_1,policy_2,policy_3,renew_offer_type_1,renew_offer_type_2,renew_offer_type_3,renew_offer_type_4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6846,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6847,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6848,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6849,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [28]:
# OneHotEncode X_test

encoder_test = OneHotEncoder().fit(X_test_ohe)
cols_ohe = encoder_test.get_feature_names_out(input_features = X_test_ohe.columns)
X_test_ohe_encoded = pd.DataFrame(encoder_test.transform(X_test_ohe).toarray(),columns=cols_ohe)

X_test_ohe_encoded

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_1,policy_2,policy_3,renew_offer_type_1,renew_offer_type_2,renew_offer_type_3,renew_offer_type_4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2279,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2280,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2281,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2282,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2283,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [29]:
# X_train dfs concat (OneHotEncoded + dummy encoded)

X_train.reset_index(inplace=True)

X_train_encoded = pd.concat([X_train,X_train_ohe_encoded],axis=1)
X_train_encoded = X_train_encoded.drop(columns='index', axis=1)
X_train_encoded = X_train_encoded.drop(columns=ohe_cols, axis=1)
X_train_encoded

,coverage,education,employment_status,location_code,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_1,policy_2,policy_3,renew_offer_type_1,renew_offer_type_2,renew_offer_type_3,renew_offer_type_4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car
0,0.5,0.5,0.0,0.0,0.5,5389.499465,66429,136,35,93,0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.5,0.5,0.5,0.5,12786.668980,0,180,14,70,0,4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.5,1.0,0.0,1.0,0.5,7834.151482,36094,99,28,50,1,5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.5,0.0,0.0,0.5,8223.164916,95102,101,6,73,0,8,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,0.5,1.0,0.5,0.5,0.5,9031.214859,0,122,15,47,0,9,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845,0.0,0.5,0.0,0.5,0.0,7334.328083,87957,61,31,63,0,2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6846,0.0,0.5,1.0,0.5,0.5,5498.940679,22520,73,17,64,0,3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6847,0.5,0.0,0.5,0.5,0.5,8992.779137,0,129,13,4,0,7,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6848,0.5,0.5,0.5,0.5,0.5,14635.451580,0,139,5,56,0,2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6849,0.5,0.5,0.0,1.0,0.5,3349.639274,78092,84,34,13,0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [30]:
# X_test dfs concat (OneHotEncoded + dummy encoded)

X_test.reset_index(inplace=True)

X_test_encoded = pd.concat([X_test,X_test_ohe_encoded],axis=1)
X_test_encoded = X_test_encoded.drop(columns='index', axis=1)
X_test_encoded = X_test_encoded.drop(columns=ohe_cols, axis=1)
X_test_encoded

,coverage,education,employment_status,location_code,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_1,policy_2,policy_3,renew_offer_type_1,renew_offer_type_2,renew_offer_type_3,renew_offer_type_4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car
0,0.0,0.0,0.0,0.0,0.5,4222.631209,74585,106,1,49,0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.5,0.5,5514.344018,23218,71,7,10,0,4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.5,0.5,0.0,0.5,0.0,3808.122147,94903,94,3,38,0,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.5,0.5,0.0,1.0,0.5,7914.823110,77153,99,3,27,1,5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.5,0.5,7931.722181,23769,69,18,14,0,2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2279,0.5,1.0,0.0,1.0,0.5,7268.096004,38179,90,12,91,1,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2280,0.0,0.5,1.0,0.5,0.5,11790.496170,25251,66,13,43,0,2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2281,0.0,1.0,0.0,0.0,1.0,5790.565333,84551,72,10,82,0,5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2282,0.5,0.5,0.0,1.0,1.0,6189.994337,59523,78,0,62,1,8,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2283,0.5,0.5,0.5,0.5,1.0,6846.150323,0,95,13,20,0,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [31]:
# Columns needed to be scaled 

X_train.dtypes

index                              int64
state                             object
response                          object
coverage                         float64
education                        float64
employment_status                float64
gender                            object
location_code                    float64
marital_status                    object
policy_type                       object
policy                             int64
renew_offer_type                   int64
sales_channel                     object
vehicle_class                     object
vehicle_size                     float64
customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
dtype: object

In [32]:
X_train_2_scale = X_train[['customer_lifetime_value',
                           'income',
                           'monthly_premium_auto',
                           'months_since_last_claim',
                           'months_since_policy_inception',
                           'number_of_open_complaints',
                           'number_of_policies']]
X_train_2_scale

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,5389.499465,66429,136,35,93,0,1
1,12786.668980,0,180,14,70,0,4
2,7834.151482,36094,99,28,50,1,5
3,8223.164916,95102,101,6,73,0,8
4,9031.214859,0,122,15,47,0,9
...,...,...,...,...,...,...,...
6845,7334.328083,87957,61,31,63,0,2
6846,5498.940679,22520,73,17,64,0,3
6847,8992.779137,0,129,13,4,0,7
6848,14635.451580,0,139,5,56,0,2
6849,3349.639274,78092,84,34,13,0,1

In [33]:
X_test_2_scale = X_test[['customer_lifetime_value',
                         'income',
                         'monthly_premium_auto',
                         'months_since_last_claim',
                         'months_since_policy_inception',
                         'number_of_open_complaints',
                         'number_of_policies']]
X_test_2_scale

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,4222.631209,74585,106,1,49,0,1
1,5514.344018,23218,71,7,10,0,4
2,3808.122147,94903,94,3,38,0,1
3,7914.823110,77153,99,3,27,1,5
4,7931.722181,23769,69,18,14,0,2
...,...,...,...,...,...,...,...
2279,7268.096004,38179,90,12,91,1,3
2280,11790.496170,25251,66,13,43,0,2
2281,5790.565333,84551,72,10,82,0,5
2282,6189.994337,59523,78,0,62,1,8
2283,6846.150323,0,95,13,20,0,5

In [34]:
# Initialize and fit the scaler

transformer = MinMaxScaler().fit(X_train_2_scale)

In [35]:
# X_train scaled dataset

X_norm1 = transformer.transform(X_train_2_scale)
X_train_scaled = pd.DataFrame(X_norm1, columns = X_train_2_scale.columns)
X_train_scaled = X_train_scaled.reset_index(drop=True)
X_train_scaled

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.042879,0.664416,0.316456,1.000000,0.939394,0.0,0.000
1,0.133722,0.000000,0.502110,0.400000,0.707071,0.0,0.375
2,0.072901,0.361009,0.160338,0.800000,0.505051,0.2,0.500
3,0.077679,0.951201,0.168776,0.171429,0.737374,0.0,0.875
4,0.087602,0.000000,0.257384,0.428571,0.474747,0.0,1.000
...,...,...,...,...,...,...,...
6845,0.066763,0.879737,0.000000,0.885714,0.636364,0.0,0.125
6846,0.044223,0.225243,0.050633,0.485714,0.646465,0.0,0.250
6847,0.087130,0.000000,0.286920,0.371429,0.040404,0.0,0.750
6848,0.156427,0.000000,0.329114,0.142857,0.565657,0.0,0.125
6849,0.017827,0.781068,0.097046,0.971429,0.131313,0.0,0.000

In [36]:
# X_test scaled dataset

X_norm2 = transformer.transform(X_test_2_scale)
X_test_scaled = pd.DataFrame(X_norm2, columns = X_test_2_scale.columns)
X_test_scaled = X_test_scaled.reset_index(drop=True)
X_test_scaled

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.028548,0.745992,0.189873,0.028571,0.494949,0.0,0.000
1,0.044412,0.232224,0.042194,0.200000,0.101010,0.0,0.375
2,0.023458,0.949210,0.139241,0.085714,0.383838,0.0,0.000
3,0.073892,0.771677,0.160338,0.085714,0.272727,0.2,0.500
4,0.074099,0.237735,0.033755,0.514286,0.141414,0.0,0.125
...,...,...,...,...,...,...,...
2279,0.065949,0.381863,0.122363,0.342857,0.919192,0.2,0.250
2280,0.121488,0.252558,0.021097,0.371429,0.434343,0.0,0.125
2281,0.047804,0.845671,0.046414,0.285714,0.828283,0.0,0.500
2282,0.052709,0.595343,0.071730,0.000000,0.626263,0.2,0.875
2283,0.060768,0.000000,0.143460,0.371429,0.202020,0.0,0.500

In [37]:
X_train = X_train.drop(['customer_lifetime_value',
                        'income',
                        'monthly_premium_auto',
                        'months_since_last_claim',
                        'months_since_policy_inception',
                        'number_of_open_complaints',
                        'number_of_policies'], axis = 1)
X_train

,index,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,8607,California,Yes,0.5,0.5,0.0,M,0.0,Married,Corporate Auto,3,2,Agent,Luxury,0.5
1,2121,Oregon,No,0.0,0.5,0.5,F,0.5,Single,Special Auto,2,3,Agent,Luxury,0.5
2,5361,California,No,0.5,1.0,0.0,F,1.0,Married,Personal Auto,1,2,Branch,Two-Door Car,0.5
3,7003,Oregon,No,1.0,0.5,0.0,M,0.0,Married,Corporate Auto,3,3,Web,Four-Door Car,0.5
4,7416,California,Yes,0.5,1.0,0.5,F,0.5,Single,Personal Auto,2,1,Branch,Luxury,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845,5734,California,No,0.0,0.5,0.0,F,0.5,Divorced,Personal Auto,3,3,Agent,Four-Door Car,0.0
6846,5191,California,Yes,0.0,0.5,1.0,M,0.5,Married,Personal Auto,3,1,Branch,Four-Door Car,0.5
6847,5390,California,No,0.5,0.0,0.5,F,0.5,Single,Personal Auto,1,1,Call Center,SUV,0.5
6848,860,Arizona,Yes,0.5,0.5,0.5,F,0.5,Divorced,Personal Auto,3,1,Call Center,SUV,0.5
6849,7270,Arizona,No,0.5,0.5,0.0,M,1.0,Married,Corporate Auto,2,2,Branch,Four-Door Car,0.5

In [38]:
X_test = X_test.drop(['customer_lifetime_value',
                      'income',
                      'monthly_premium_auto',
                      'months_since_last_claim',
                      'months_since_policy_inception',
                      'number_of_open_complaints',
                      'number_of_policies'], axis = 1)
X_test

,index,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,708,California,No,0.0,0.0,0.0,M,0.0,Married,Personal Auto,3,2,Agent,SUV,0.5
1,47,Oregon,No,0.0,0.0,0.0,F,0.5,Single,Personal Auto,2,4,Agent,Two-Door Car,0.5
2,3995,Oregon,Yes,0.5,0.5,0.0,F,0.5,Married,Personal Auto,3,2,Agent,Two-Door Car,0.0
3,1513,California,No,0.5,0.5,0.0,F,1.0,Married,Personal Auto,3,1,Branch,Four-Door Car,0.5
4,3686,Washington,No,0.0,0.0,1.0,F,0.5,Divorced,Personal Auto,2,1,Branch,Four-Door Car,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2279,3060,Arizona,No,0.5,1.0,0.0,F,1.0,Married,Personal Auto,1,1,Call Center,Four-Door Car,0.5
2280,8508,California,Yes,0.0,0.5,1.0,M,0.5,Divorced,Corporate Auto,3,2,Web,Four-Door Car,0.5
2281,4995,Arizona,No,0.0,1.0,0.0,M,0.0,Divorced,Personal Auto,3,2,Agent,Four-Door Car,1.0
2282,5677,California,No,0.5,0.5,0.0,M,1.0,Married,Personal Auto,1,1,Branch,Four-Door Car,1.0
2283,5269,California,Yes,0.5,0.5,0.5,F,0.5,Divorced,Personal Auto,3,1,Call Center,Two-Door Car,1.0

In [39]:
list(X_test.columns)

['index',
 'state',
 'response',
 'coverage',
 'education',
 'employment_status',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size']

In [40]:
X_train_SE = pd.concat([X_train_encoded, X_train_scaled],axis = 1)
X_train_SE

,coverage,education,employment_status,location_code,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_1,policy_2,policy_3,renew_offer_type_1,renew_offer_type_2,renew_offer_type_3,renew_offer_type_4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.5,0.5,0.0,0.0,0.5,5389.499465,66429,136,35,93,0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.042879,0.664416,0.316456,1.000000,0.939394,0.0,0.000
1,0.0,0.5,0.5,0.5,0.5,12786.668980,0,180,14,70,0,4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.133722,0.000000,0.502110,0.400000,0.707071,0.0,0.375
2,0.5,1.0,0.0,1.0,0.5,7834.151482,36094,99,28,50,1,5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.072901,0.361009,0.160338,0.800000,0.505051,0.2,0.500
3,1.0,0.5,0.0,0.0,0.5,8223.164916,95102,101,6,73,0,8,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.077679,0.951201,0.168776,0.171429,0.737374,0.0,0.875
4,0.5,1.0,0.5,0.5,0.5,9031.214859,0,122,15,47,0,9,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.087602,0.000000,0.257384,0.428571,0.474747,0.0,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845,0.0,0.5,0.0,0.5,0.0,7334.328083,87957,61,31,63,0,2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.066763,0.879737,0.000000,0.885714,0.636364,0.0,0.125
6846,0.0,0.5,1.0,0.5,0.5,5498.940679,22520,73,17,64,0,3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.044223,0.225243,0.050633,0.485714,0.646465,0.0,0.250
6847,0.5,0.0,0.5,0.5,0.5,8992.779137,0,129,13,4,0,7,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.087130,0.000000,0.286920,0.371429,0.040404,0.0,0.750
6848,0.5,0.5,0.5,0.5,0.5,14635.451580,0,139,5,56,0,2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.156427,0.000000,0.329114,0.142857,0.565657,0.0,0.125
6849,0.5,0.5,0.0,1.0,0.5,3349.639274,78092,84,34,13,0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.017827,0.781068,0.097046,0.971429,0.131313,0.0,0.000

In [41]:
X_test_SE = pd.concat([X_test_encoded, X_test_scaled], axis = 1)
X_test_SE

,coverage,education,employment_status,location_code,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_1,policy_2,policy_3,renew_offer_type_1,renew_offer_type_2,renew_offer_type_3,renew_offer_type_4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.0,0.0,0.0,0.0,0.5,4222.631209,74585,106,1,49,0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.028548,0.745992,0.189873,0.028571,0.494949,0.0,0.000
1,0.0,0.0,0.0,0.5,0.5,5514.344018,23218,71,7,10,0,4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.044412,0.232224,0.042194,0.200000,0.101010,0.0,0.375
2,0.5,0.5,0.0,0.5,0.0,3808.122147,94903,94,3,38,0,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.023458,0.949210,0.139241,0.085714,0.383838,0.0,0.000
3,0.5,0.5,0.0,1.0,0.5,7914.823110,77153,99,3,27,1,5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.073892,0.771677,0.160338,0.085714,0.272727,0.2,0.500
4,0.0,0.0,1.0,0.5,0.5,7931.722181,23769,69,18,14,0,2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.074099,0.237735,0.033755,0.514286,0.141414,0.0,0.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2279,0.5,1.0,0.0,1.0,0.5,7268.096004,38179,90,12,91,1,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.065949,0.381863,0.122363,0.342857,0.919192,0.2,0.250
2280,0.0,0.5,1.0,0.5,0.5,11790.496170,25251,66,13,43,0,2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.121488,0.252558,0.021097,0.371429,0.434343,0.0,0.125
2281,0.0,1.0,0.0,0.0,1.0,5790.565333,84551,72,10,82,0,5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.047804,0.845671,0.046414,0.285714,0.828283,0.0,0.500
2282,0.5,0.5,0.0,1.0,1.0,6189.994337,59523,78,0,62,1,8,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.052709,0.595343,0.071730,0.000000,0.626263,0.2,0.875
2283,0.5,0.5,0.5,0.5,1.0,6846.150323,0,95,13,20,0,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.060768,0.000000,0.143460,0.371429,0.202020,0.0,0.500

In [42]:
list(X_test_SE.columns)

['coverage',
 'education',
 'employment_status',
 'location_code',
 'vehicle_size',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'state_Arizona',
 'state_California',
 'state_Nevada',
 'state_Oregon',
 'state_Washington',
 'response_No',
 'response_Yes',
 'gender_F',
 'gender_M',
 'marital_status_Divorced',
 'marital_status_Married',
 'marital_status_Single',
 'policy_type_Corporate Auto',
 'policy_type_Personal Auto',
 'policy_type_Special Auto',
 'policy_1',
 'policy_2',
 'policy_3',
 'renew_offer_type_1',
 'renew_offer_type_2',
 'renew_offer_type_3',
 'renew_offer_type_4',
 'sales_channel_Agent',
 'sales_channel_Branch',
 'sales_channel_Call Center',
 'sales_channel_Web',
 'vehicle_class_Four-Door Car',
 'vehicle_class_Luxury',
 'vehicle_class_SUV',
 'vehicle_class_Two-Door Car',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies']

In [43]:
# Models

In [44]:
X_train_SE.dtypes

coverage                         float64
education                        float64
employment_status                float64
location_code                    float64
vehicle_size                     float64
customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
state_Arizona                    float64
state_California                 float64
state_Nevada                     float64
state_Oregon                     float64
state_Washington                 float64
response_No                      float64
response_Yes                     float64
gender_F                         float64
gender_M                         float64
marital_status_Divorced          float64
marital_status_Married           float64
marital_status_Single            float64
policy_type_Corporate Auto       float64
policy_type_Personal Auto        float64
policy_type_Special Auto         float64
policy_1                         float64
policy_2                         float64
policy_3                         float64
renew_offer_type_1               float64
renew_offer_type_2               float64
renew_offer_type_3               float64
renew_offer_type_4               float64
sales_channel_Agent              float64
sales_channel_Branch             float64
sales_channel_Call Center        float64
sales_channel_Web                float64
vehicle_class_Four-Door Car      float64
vehicle_class_Luxury             float64
vehicle_class_SUV                float64
vehicle_class_Two-Door Car       float64
customer_lifetime_value          float64
income                           float64
monthly_premium_auto             float64
months_since_last_claim          float64
months_since_policy_inception    float64
number_of_open_complaints        float64
number_of_policies               float64
dtype: object

In [45]:
X_test_SE.dtypes

coverage                         float64
education                        float64
employment_status                float64
location_code                    float64
vehicle_size                     float64
customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
state_Arizona                    float64
state_California                 float64
state_Nevada                     float64
state_Oregon                     float64
state_Washington                 float64
response_No                      float64
response_Yes                     float64
gender_F                         float64
gender_M                         float64
marital_status_Divorced          float64
marital_status_Married           float64
marital_status_Single            float64
policy_type_Corporate Auto       float64
policy_type_Personal Auto        float64
policy_type_Special Auto         float64
policy_1                         float64
policy_2                         float64
policy_3                         float64
renew_offer_type_1               float64
renew_offer_type_2               float64
renew_offer_type_3               float64
renew_offer_type_4               float64
sales_channel_Agent              float64
sales_channel_Branch             float64
sales_channel_Call Center        float64
sales_channel_Web                float64
vehicle_class_Four-Door Car      float64
vehicle_class_Luxury             float64
vehicle_class_SUV                float64
vehicle_class_Two-Door Car       float64
customer_lifetime_value          float64
income                           float64
monthly_premium_auto             float64
months_since_last_claim          float64
months_since_policy_inception    float64
number_of_open_complaints        float64
number_of_policies               float64
dtype: object

In [46]:
# Define function to run all models

def models_automation(models, X_tr, y_tr,X_te, y_te):
    
    for model in models:
        
        model.fit(X_tr, y_tr)
        print(f"{model.__class__.__name__}: Train -> {model.score(X_tr, y_tr)}, Test -> {model.score(X_te, y_te)}")

In [47]:
model_list = [LinearRegression(),
              SGDRegressor(),
              KNeighborsRegressor(),
              MLPRegressor(),
              DecisionTreeRegressor(),
              RandomForestRegressor()]

models_automation(model_list, X_train_SE, y_train, X_test_SE, y_test)

LinearRegression: Train -> 0.6233351785454706, Test -> 0.6238796320611514
SGDRegressor: Train -> -1.474905664245553e+31, Test -> -1.579378517651854e+31
KNeighborsRegressor: Train -> 0.5228323622735909, Test -> 0.24312897387410315
MLPRegressor: Train -> 0.5659573118623124, Test -> 0.5384338833995654
DecisionTreeRegressor: Train -> 1.0, Test -> 0.7151750897764886
RandomForestRegressor: Train -> 0.9775162033742246, Test -> 0.8319346100483586

| Regressor	| Train R-squared | Test R-squared	| Remarks |
| --- | --- | --- | --- |  
| LinearRegression	| 0.6233	| 0.6239	| Good performance for a linear regression model |
| SGDRegressor	| -1.4749e+31	| -1.5794e+31	| Overfitting, does not generalize well |
| KNeighborsRegressor	| 0.5228	| 0.2431	| Poor performance, not flexible enough |
| MLPRegressor	| 0.5659	| 0.5384	| Potential for improvement in activation function or hidden layers |
| DecisionTreeRegressor	| 1.0	| 0.7152	| Overfitting, requires pruning |
| RandomForestRegressor	| 0.9775	| 0.8319	| Best performing model, good generalization |

In [49]:
# Create a DataFrame

df = pd.DataFrame({
    "Regressor": ["LinearRegression", "SGDRegressor", "KNeighborsRegressor", "MLPRegressor", "DecisionTreeRegressor", "RandomForestRegressor"],
    "Train R-squared": [0.6233351785454706, -1.474905664245553e+31, 0.5228323622735909, 0.5659573118623124, 1.0, 0.9775162033742246],
    "Test R-squared": [0.6238796320611514, -1.579378517651854e+31, 0.24312897387410315, 0.5384338833995654, 0.7151750897764886, 0.8319346100483586]
})

# Print the DataFrame
df

               Regressor  Train R-squared  Test R-squared
0       LinearRegression     6.233352e-01    6.238796e-01
1           SGDRegressor    -1.474906e+31   -1.579379e+31
2    KNeighborsRegressor     5.228324e-01    2.431290e-01
3           MLPRegressor     5.659573e-01    5.384339e-01
4  DecisionTreeRegressor     1.000000e+00    7.151751e-01
5  RandomForestRegressor     9.775162e-01    8.319346e-01